@model Group

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/css/students.css" />
    <title>Document</title>
</head>
<body>
    <header id="header">
        <nav class="navbar-expand-lg navbar-light justify-content-center">
            <div class="container">
                <div class="row">
                    <a class="navbar-brand" href="#">
                        <img width="162"
                             height="50"
                             src="~/img/logo-footer.png"
                             loading="lazy" />
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end"
                         id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" asp-action="Index" asp-controller="Home">Ana sehife/</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Home">Haqqimizda/</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Home">Bizimle elaqe/</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Group">Qruplarimiz</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-2">
                        <h1>group: @Model.Name</h1>
                        <p>muellim adi: @Model.Teacher.Name</p>
                        <p>telebe sayi: @Model.Students.Count</p>
                        <p>Tehsil categoriyasi: @Model.EducationCategory.Name</p>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section id="blocks">
        <div class="container">
            <h4 class="mb-3 mt-3">Telebeler</h4>

            <div class="row">

                @foreach (Student item in Model.Students)
                {
                    <div class="col-md-4 d-flex align-items-center person">
                        <div class="card" style="width: 18rem">
                            <img class="card-img" src="/img/studentimg/@item.Image" />
                            <div class="card-body">
                                <h5 class="card-title">Telebe: @item.Name</h5>
                                <p class="card-text">Email:@item.Email</p>
                                <a asp-action="SingleStudent" asp-controller="Student" asp-route-id="@item.Id" class="btn btn-primary">Etrafli</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
    
        </div>
    </section>

    <section id="footer">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <p>2021 | Made with love by Javid</p>
            </div>
        </div>
    </section>
</body>
</html>

